# DeepState Results

In [1]:
import pandas

## Table 1

In [2]:
df = pandas.read_fwf("results/DeepStateTable1.fwf")
df["Forecasting-Horizon"] = pandas.to_timedelta(df["Forecasting-Horizon"])
df["Observation-Horizon"] = pandas.to_timedelta(df["Observation-Horizon"])
df = df.set_index(
    ["Dataset", "Test-Metric", "Observation-Horizon", "Forecasting-Horizon"]
)
df.columns.name = "Model"
df = df.melt(ignore_index=False).reset_index()
df.to_hdf("results/DeepState.h5", key="Table1", complevel=9, mode="w", format="table")
df.pivot(
    index=["Dataset", "Model"],
    columns=["Observation-Horizon", "Test-Metric"],
    values="value",
)

Observation-Horizon   14 days         21 days         28 days
Test-Metric           p50Loss p90Loss p50Loss p90Loss p50Loss p90Loss
Dataset     Model
electricity ARIMA       0.283   0.109   0.291   0.112   0.300   0.110
            DeepAR      0.153   0.147   0.147   0.132   0.125   0.080
            DeepState   0.087   0.050   0.085   0.052   0.085   0.057
            ETS         0.121   0.101   0.130   0.110   0.130   0.110
traffic     ARIMA       0.492   0.280   0.492   0.289   0.501   0.298
            DeepAR      0.177   0.153   0.126   0.096   0.219   0.138
            DeepState   0.168   0.117   0.170   0.113   0.168   0.114
            ETS         0.621   0.650   0.509   0.529   0.532   0.600

## Table 2

In [3]:
df = pandas.read_fwf("results/DeepStateTable2.fwf", header=[0, 1], index_col=0)
df = df.melt(ignore_index=False).reset_index()
df.to_hdf("results/DeepState.h5", key="Table2", complevel=9, mode="a", format="table")
df2 = pandas.read_hdf("results/DeepState.h5", key="Table2")
pandas.testing.assert_frame_equal(df, df2)
df.pivot(index=["Dataset"], columns=["Model", "Test-Metric"], values="value")

Model       MatFact DeepAR        DeepState
Test-Metric     p50    p50    p90       p50    p90
Dataset
electricity    0.16  0.075  0.040     0.083  0.056
traffic        0.20  0.161  0.099     0.167  0.113

## Table 3

In [4]:
df = pandas.read_fwf("results/DeepStateTable3.fwf", header=[0, 1], index_col=0)
df = df.melt(ignore_index=False).reset_index()
df.to_hdf("results/DeepState.h5", key="Table3", complevel=9, mode="a", format="table")
df2 = pandas.read_hdf("results/DeepState.h5", key="Table3")
pandas.testing.assert_frame_equal(df, df2)
df.pivot(index=["Dataset", "Test-Metric"], columns="Model", values="value")

Model                           ARIMA  DeepAR  DeepState     ETS
Dataset           Test-Metric
M4-Hourly         p50          0.0520  0.0900     0.0440  0.0540
                  p90          0.0354  0.0304     0.0266  0.0267
parts             p50          1.6444  1.2730     1.4700  1.6390
                  p90          1.0664  1.0860     0.9350  1.0086
tourism-Monthly   p50          0.0999  0.1000     0.1380  0.0930
                  p90          0.0580  0.0590     0.0670  0.0540
tourism-Quarterly p50          0.1241  0.1100     0.0980  0.1050
                  p90          0.0620  0.0620     0.0470  0.0550